*{
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    min-height: 400px;
    background-color: rgb(149, 156, 156);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  
    
}

.elemento{
   height: 200px;
   width: 200px;
   background-color: rgb(175, 86, 45);
   border-color: #fff;
   border-width: 5px;
   border-style: solid;
   padding: 10px;
}